---
layout: layout.njk
---
<!DOCTYPE html>
<html>
   <p class="mt-4"></p>
  <p class="pl-6"></p>
 <header><img src="/images/logo.png" sizes="128x64"></header>
    <div class="columns is-half">
      <p class="pr-6"></p>
      <div class="column is-3">
<div class="column is-mobile is-centered">
    <header>Preferred City</header>
<div class="checkboxes">
  <label class="checkbox">
    <input type="checkbox" />
    Dublin
  </label>

  <label class="checkbox">
    <input type="checkbox" />
    London
  </label>

  <label class="checkbox">
    <input type="checkbox" />
    Paris
  </label>

  <label class="checkbox">
    <input type="checkbox" />
    Lisbon
  </label>

  <label class="checkbox">
    <input type="checkbox" />
    Berlin
  </label>

  <label class="checkbox">
    <input type="checkbox" />
    Madrid
  </label>
</div>
</div>
</div>


   <p class="mt-4"></p>
<main class="container">
    <div class="columns is-half is-centered">
      <p class="mgl-small"></p>
      <div class="column is-4">
        <p class="mgl-small"></p>
  <header>Settings</header>
  <div class="checkboxes">
  <label class="checkbox">
    <input type="checkbox" is checked/>
    Temperature is Visible
  </label>

  <label class="checkbox">
    <input type="checkbox" is checked/>
    Wind kmh is Visible
  </label>

  <label class="checkbox">
    <input type="checkbox" />
    Rain Amount is Visible
  </label>

  <label class="checkbox">
    <input type="checkbox" />
    Pollen Risk is Visible
  </label>
</div>
</div>
</div>


<div class="column is-4">
  <div class="field is-grouped">
  <p class="control">
    <button class="button is-link">Save changes</button>
  </p>
  <p class="control">
    <button class="button">Cancel</button>
  </p>
</div>
</div>
<p class="mb-6"></p>
</div>
<p class="mb-6"></p>
</div>
<p class="mb-6"></p>
</div>
<p class="mb-6"></p>
</div>
<p class="mb-4"></p>
    
