<p class="mgl-small"></p>
      <div class="column is-2">
        <p class="mgl-small"></p>
        <section class="card has text-centered">
          <header class="card-header-title is-centered">
            <p class="card-header is-centered"></p>
        <p class="box has-background-white">{{cityName}}</p>
      </header>
      <div class="card image">
        <figure class="image">
          <img src="{{currentImage}}">
        </figure>
      </div>
      <footer class="card-footer">
        <footer class="card-footer-item has-background-white">Current Weather</footer>
    <p class="mb-4"></p>
  </footer>
</section>
  </div>

<div class="column is-one-third">
        <section class="card has text-centered">
          <header class="card-header-title is-centered">
            <p class="card-header is-centered"></p>
        <p class="box has-background-white">Temperature</p>
      </header>
      <div class="Temperature">
        <p> {{temp}} </p>
      </div>
      <section class="card has text-centered">
          <header class="card-header-title is-centered">
            <p class="card-header is-centered"></p>
        <p class="box has-background-white">Wind</p>
      </header>
      <div class="Wind">
        <p> {{wind}} </p>
    </section>
    </div>

<div class="column is-2">
         <section class="card has text-centered">
          <header class="card-header-title is-centered">
            <p class="card-header is-centered">
        <p class="box has-background-white">Pollen</p>
      </header>
      <div class="card image">
        <figure class="image">
          <img src="{{pollenImage}}" sizes="120x120">
        </figure>
      </div>
      <footer class="card-footer">
        <footer class="card-footer-item is-centered has-background-white">{{level}}</footer>
      </footer>
    </section>
      </div>
    <p class="mb-4"></p>
      </div>
    </main>
      
  </footer>
</section>
  </div>
      
     <p class="mgl-small"></p>
      <p class="mb-6"></p>

     <div class="columns is-4 is-centered">
      <p class="mgl-small"></p>
      <div class="column is-1">
      <header class="card-header-title is-centered">
            <p class="card-header is-centered"></p>
        <p class="box has-background-white">Tomorrow</p>
      </header>
      <div class="card image">
        <figure class="image">
          <img src="{{tomorrowImage}}">
        </figure>
        <footer class="card-footer">
          <p>{{tomorrowWeather}}</p>
        </footer>
      </div>
      </div>

  <div class="column is-1">
  <header class="card-header-title is-centered">
            <p class="card-header is-centered"></p>
        <p class="box has-background-white">Monday</p>
      </header>
      <div class="card image">
        <figure class="image">
          <img src="{{mondayImage}}">
        </figure>
        <footer class="card-footer">
          <p>{{mondayWeather}}</p>
        </footer>
      </div>
      </div>

  <div class="column is-1">
  <header class="card-header-title is-centered">
           <p class="card-header is-centered"></p>
        <p class="box has-background-white">Tuesday</p>
      </header>
      <div class="card image">
        <figure class="image">
          <img src="{{tuesdayImage}}">
        </figure>
        <footer class="card-footer">
          <p>{{tuesdayWeather}}</p>
        </footer>
      </div>
      </div>

  <div class="column is-1">
  <header class="card-header-title is-centered">
            <p class="card-header is-centered"></p>
        <p class="box has-background-white">Wednesday</p>
      </header>
      <div class="card image">
        <figure class="image">
          <img src="{{wednesdayImage}}">
        </figure>
        <footer class="card-footer">
          <p>{{wednesdayWeather}}</p>
        </footer>
      </div>
      </div>

  <div class="column is-1">
  <header class="card-header-title is-centered">
            <p class="card-header is-centered"></p>
        <p class="box has-background-white">Thursday</p>
      </header>
      <div class="card image">
        <figure class="image">
          <img src="{{thursdayImage}}">
          <footer class="card-footer">
          <p>{{thursdayWeather}}</p>
        </footer>
        </figure>
      </div>
      </div>

  <div class="column is-1">
  <header class="card-header-title is-centered">
            <p class="card-header is-centered"></p>
        <p class="box has-background-white">Friday</p>
      </header>
      <div class="card image">
        <figure class="image">
          <img src="{{fridayImage}}">
        </figure>
        <footer class="card-footer">
          <p>{{fridayWeather}}</p>
        </footer>
      </div>
      </div>

  <div class="column is-1">
  <header class="card-header-title is-centered">
            <p class="card-header is-centered"></p>
        <p class="box has-background-white">Saturday</p>
      </header>
      <div class="card image">
        <figure class="image">
          <img src="{{saturdayImage}}">
        </figure>
        <footer class="card-footer">
          <p>{{saturdayWeather}}</p>
        </footer>
      </div>
      </div>

    </div>
