 <footer class="footer has-background-white has-text-black">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <img src="/images/logo2.png" alt="logo2"> WhetherWeather : Weather For Wherever You Are
        </p>
        <p>
          <a href="https://www.flaticon.com/free-icons/weather" title="weather icons">Weather icons created by iconixar - Flaticon</a>
        </p>
        <p>
        <a href="https://www.flaticon.com/free-icons/neutral" title="neutral icons">Neutral icons created by Pixel perfect - Flaticon</a>
      </p>
      </div>
    </div>
  </footer>