<p class="px-6"></p>
    <p class="mt-4"></p>
      <div class="column is-3">
        <section class="card has text-centered">
          <header class="card-header-title is-centered">
            <p class="card-header is-centered">
        <a href="{{cityPage}}"  class="box has-background-white">{{cityName}}</a>
      </header>
      <div class="card image">
        <figure class="image">
          <img src="{{weatherImage}}">
        </figure>
      </div>
      <footer class="card-footer">
         <a href="{{cityPage}}" class="card-footer-item button has-background-white">{{weatherDescription}}</a>
      </footer>
    </section>
      </div>