  <nav class="navbar">
    <nav class= "content has-text-centered">
    <nav class="navbar-start has-background-white">
    <div class="navbar-brand">
      <a class="navbar-item" href="index.html">
        <img src="/images/logo.png" alt="Logo" />
      </a>
      <nav class="navbar-start has-background-white">
      <span class="navbar-burger has-background-white" data-target="navbarMenu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </span>
    </div>
   
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-start has-background-white">
    		<a class="navbar-item has-text-primary" href="/index.html">
    		Home
    	</a>
      <div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link has-text-primary">
    City
  </a>
  <div class="navbar-dropdown">
    	<a class="navbar-item has-text-primary" href="/dublin">
    			Dublin
    		</a>
      <a class="navbar-item has-text-primary" href="/london">
          London
        </a>
      <a class="navbar-item has-text-primary" href="/paris">
          Paris
        </a>
      <a class="navbar-item has-text-primary" href="/madrid">
          Madrid
        </a>
      <a class="navbar-item has-text-primary" href="/berlin">
          Berlin
        </a>
      <a class="navbar-item has-text-primary" href="/lisbon">
          Lisbon
        </a>
      </div>
    </div>
    		<a class="navbar-item has-text-primary"  href="/pollencount">
    			Pollen
    		</a>
    		<a class="navbar-item has-text-primary"href="/settings">
    			Settings
    		</a>
      </div>
	</div>
  </nav>