<div class="column is-1">
        <section class="card has text-centered">
          <header class="card-header-title is-centered">
            <p class="card-header is-centered">
        <p class="box has-background-white">{{cityName}}</p>
      </header>
      <div class="card image">
        <figure class="image">
          <img src="{{pollenImage}}" sizes= "64x64">
        </figure>
      </div>
      <footer class="card-footer">
        <footer class="card-footer-item footer-is-centered has-background-white">{{pollenLevel}}</footer>
      </footer>
    </section>
      </div>